body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: white;
    color: black;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.password-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.password-popup {
    background: white;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.password-overlay .button {
    background-color: #ca2c5b;
    color: white;
    border: none;
    padding: 10px 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    text-transform: uppercase;
}