<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tilføj Opgave</title>
</head>
<body>
<div th:replace="~{fragments/header :: siteHeader}"></div>

<div class="container">
    <h1>Tilføj Ny Opgave</h1>
    <form th:action="@{/dashboard/{projectId}/projectOverview/{subProjectId}/subProjectOverview/saveTask(projectId=${projectId},subProjectId=${subProjectId})}"
          th:object="${newTask}" method="post">
        <div class="form-group">
            <label for="taskName">Opgavenavn<span class="required">*</span></label>
            <input type="text" id="taskName" th:field="*{taskName}" required>
        </div> <br>
        <div class="form-group">
            <label for="taskDescription">Beskrivelse<span class="required">*</span></label>
            <input id="taskDescription" th:field="*{taskDescription}" required>
        </div><br>
        <div class="form-group">
            <label for="taskStartDate">Startdato</label>
            <input type="date" id="taskStartDate" th:field="*{taskStartDate}">
        </div><br>
        <div class="form-group">
            <label for="taskEndDate">Slutdato</label>
            <input type="date" id="taskEndDate" th:field="*{taskEndDate}">
        </div><br>
        <div class="form-group">
            <label for="taskEstimatedHours">Estimerede Timer</label>
            <input type="number" id="taskEstimatedHours" th:field="*{taskEstimatedHours}" min="0">
        </div><br>
        <div class="form-group">
            <label for="taskStatus">Status</label>
            <select id="taskStatus" th:field="*{taskStatus}">
                <option value="">Vælg status</option>
                <option value="NOT_STARTED">Ikke Påbegyndt</option>
                <option value="IN_PROGRESS">I Gang</option>
                <option value="DELAYED">Forsinket</option>
                <option value="COMPLETED">Afsluttet</option>
                <option value="CANCELLED">Afbrudt</option>
            </select>
        </div> <br>

        <!-- Save and Back button -->
        <div>
            <button type="submit">Gem Opgave</button>
            <button th:href="@{/dashboard/{projectId}/projectOverview/{subProjectId}/subProjectOverview(projectId=${projectId}, subProjectId=${subProjectId})}" class="button">Annuller</button>
        </div>

    </form>
</div>
</body>
</html>